/* Color declaration */

$white: #ffffff;
$black: #000000;

/* Primary Colors */
$primary_500: #240d57;
$primary_400: #501fc1;
$primary_300: #8456ec;
$primary_200: #e87bf8;

/* Secondary Colors */
$secondary_500: #ccb6ff;
$secondary_400: #ede5ff;
$secondary_300: #f6f2ff;

/* Alert Colors */
$alert_pink: #ffd7e0;
$alert_red: #e61445;
$alert_green100: #d3ffe2;
$alert_green500: #00805e;

/* General Colors */

$grey_500: #4f4f4f;
$grey_400: #828282;
$grey_300: #bdbdbd;
$grey_200: #e0e0e0;
$grey_100: #f2f2f2;
$grey_50: #fbfaff;
